{% set articlesTotaCount = 0 %}
{% set filterOpened = false %}
{% for regionData in regionsData %}
    {% set articlesTotaCount = articlesTotaCount + regionData.itemsCount %}
    {% if (regionData.checked) %}
        {% set filterOpened = true %}
    {% endif %}
{% endfor %}
<div
        class="section success-stories"
        data-list-ajax-route="{{ listAjaxUrl }}"
>
    <ul class="breadcrumbs">
        <li><a href="{{ path('home') }}">{{ 'menu.home'|trans }}</a></li>
        <li>{{ 'menu.success_stories'|trans }}</li>
    </ul>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": "{{ 'home.home'|trans }}",
                    "item": "{{ url('home') }}"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "{{ 'menu.success_stories'|trans }}",
                    "item": "{{ url('success_stories_list') }}"
                }
            ]
        }
    </script>

    <h1 class="section__title">
        {{ 'menu.success_stories'|trans }}
    </h1>
    <div class="section__subtitle">
        {{ 'success_stories.subtitle'|trans }}
    </div>
    <div class="js-search-container search-container">
        <div class="search">
            <div class="js-search-input">
                <input
                        type="text"
                        class="search-input"
                        placeholder="{{ 'header.i_am_looking_for'|trans }}"
                        value="{{ filter.applied.search }}"
                >
                <div class="js-search-input__clear" data-clear-tooltip-title="{{ 'clear-tooltip'|trans }}"></div>
            </div>
            <button type="submit" class="js-tooltip search__button" data-toggle="tooltip"
                    data-placement="auto" title="{{ 'search-tooltip'|trans }}">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div class="filter-with-list-container">
        <div class="filter-block">
            <div class="button-container">
                <span class="js-filter-select-all square-button">
                    {{ 'item.all'|trans }}
                </span>
                <span class="js-filter-reset-all square-button grey-button">
                    {{ 'item.clear'|trans }}
                </span>
            </div>
            <div class="accordion-block custom-scroll">
                <div class="js-accordion-block__open accordion-header">
                    <div class="accordion-header__title">
                        {{ 'item.regions'|trans }}
                    </div>
                    <div class="accordion-header__quantity">
                        ({{ articlesTotaCount }})
                    </div>
                </div>
                <div
                        class="
                        js-accordion-block__content
                        accordion-block__content
                        {% if (filterOpened) %}opened{% endif %}
                    "
                        data-name="region"
                >
                    <div class="scrollable-block custom-scroll">
                        {% for regionData in regionsData %}
                            <label class="checkbox">
                                <span
                                        class="checkbox__title"
                                        data-checkbox-id="category--{{ regionData.code }}"
                                >
                                    {% if (regionData.region) %}
                                        {{ regionData.region.name }}
                                    {% else %}
                                        {{ 'regions.other'|trans }}
                                    {% endif %}
                                </span>
                                <span class="items-quantity">
                                    ({{ regionData.itemsCount }})
                                </span>
                                <input
                                        type="checkbox"
                                        value="{{ regionData.code }}"
                                        {% if (regionData.checked) %}checked{% endif %}
                                >
                                <span class="checkmark"></span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="list-block">
            <div class="filter-wrapper">
                <div class="js-mobile-filter__open filter__button">
                    <svg>
                        <use
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                xlink:href="#filter"
                        ></use>
                    </svg>
                    <span>
                        {{ 'item.filters'|trans }}
                    </span>
                </div>
                <div class="select-wrap">
                    <select class="js-select2 sorter">
                        {% for sortValue in filter.sortValues %}
                            <option
                                    value="{{ sortValue }}"
                                    {% if sortValue == filter.applied.sortBy %}selected{% endif %}
                            >
                                {% if sortValue == 'createdAt' %}
                                    {{ 'item.sort_date'|trans }}
                                {% elseif (sortValue == 'title') %}
                                    {{ 'item.sort_name'|trans }}
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="items-bar-container">
                {% include 'success_stories/list/items-bar.html.twig' with {
                    'items': items
                } %}
            </div>
        </div>
    </div>
</div>
<div class="js-shade shade"></div>
<div class="js-mobile-filter mobile-filter">
    <div class="mobile-filter__inner-wrapper success-stories">
        <span class="js-mobile-filter__close mobile-filter__close">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
            </svg>
        </span>
        <div class="button-container">
            <span class="js-filter-select-all square-button">
                {{ 'item.all'|trans }}
            </span>
            <span class="js-filter-reset-all square-button grey-button">
                {{ 'item.clear'|trans }}
            </span>
        </div>
        <div class="accordion-block">
            <div class="js-accordion-block__open accordion-header">
                <div class="accordion-header__title">
                    {{ 'item.regions'|trans }}
                </div>
                <div class="accordion-header__quantity">
                    ({{ articlesTotaCount }})
                </div>
            </div>
            <div
                    class="
                    js-accordion-block__content
                    accordion-block__content
                    {% if (filterOpened) %}opened{% endif %}
                "
                    data-name="region"
            >
                {% for regionData in regionsData %}
                    <label class="checkbox">
                        <span
                                class="checkbox__title"
                                data-checkbox-id="category--{{ regionData.code }}"
                        >
                            {% if (regionData.region) %}
                                {{ regionData.region.name }}
                            {% else %}
                                {{ 'regions.other'|trans }}
                            {% endif %}
                        </span>
                        <span class="items-quantity">
                            ({{ regionData.itemsCount }})
                        </span>
                        <input
                                type="checkbox"
                                value="{{ regionData.code }}"
                                {% if (regionData.checked) %}checked{% endif %}
                        >
                        <span class="checkmark"></span>
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
