{% set hint         = attr.hint         ?? null %}
{% set placeholder  = attr.placeholder  ?? null %}
{% set maxLength    = attr.maxlength    ?? 0 %}
{% set attr         = attr|merge({
    'hint'          : null,
    'placeholder'   : null,
}) %}

{% if maxLength > 0 %}
    {% set inputClacsses    = attr.class ?? '' %}
    {% set attr             = attr|merge({
        'class' : "#{inputClacsses} js-textarea",
    }) %}
{% endif %}
<div
    class="
        field
        field-input-text
        {% if required %}required{% endif %}
        {% if hidden ?? false %}hidden{% endif %}
        {% if form.vars.errors|length > 0 %}validation-error{% endif %}
    "
    {{ row_attr|toAttributesString }}
>
    <label>
        {{ label|trans }}
        {% include 'form/fields/profile/market/fieldHint.html.twig' with {'hint' : hint} only %}
    </label>
    <label class="textarea-wrap">
        <textarea
            name="{{ full_name }}"
            {% if required %}required{% endif %}
            placeholder="{{ placeholder|trans }}"
            {{ attr|toAttributesString }}
        >{{ value }}</textarea>
        {% if maxLength > 0 %}
            <div class="textarea-count">
                <span class="js-textarea-count__current-count">
                    {{ value|replace({
                        "\r\n"  :'.',
                        "\n"    :'.',
                        "\r"    :'.',
                    })|length }}
                </span>
                <span class="textarea-count__maximum-count">
                    / {{ maxLength }}
                </span>
            </div>
        {% endif %}
        {% if form.vars.errors|length > 0 %}
            <div class="error show">{{ form_errors(form) }}</div>
        {% endif %}
    </label>
</div>
