<li class="glide__slide">
    <div class="item">
        <div class="item-image">
            <div class="item-badge article__badge">{{ item.typePage }}</div>
            <a href="{{ path(item.typePage.code ~ '_detail', {'slug': item.slug}) }}">
                <img src="{% if item.imageName is empty %}{{ asset('images/item-default.png') }}{% else %} {{ asset('upload/article/' ~ item.imageName) }} {% endif %}"
                     alt="{{ item.title }}"
                     loading="lazy"
                >
            </a>
        </div>
        <div class="item-title">
            <a href="{{ path('news_detail', {'slug': item.slug}) }}" title="{{ item.title }}">{{ item.title }}</a>
        </div>
        <div class="item-text">
            {{ item.short|u.truncate(100,'...') |striptags }}
        </div>
    </div>
</li>
