<div class="form-wrapper form-required-control">
    {{ form_start(changePasswordForm) }}

    <div class="form-block">
        {{ form_label(changePasswordForm.oldPassword) }}
        <div class="password-input">
            {{ form_widget(changePasswordForm.oldPassword) }}
            <a class="js-password-input__trigger password-input__trigger" href="javascript:void(0)">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye-off"></use>
                </svg>
            </a>
        </div>
        <div class="input-error">
            {{ form_errors(changePasswordForm.oldPassword) }}
        </div>
    </div>

    <div class="form-block">
        {{ form_label(changePasswordForm.plainPassword) }}
        <div class="password-input">
            {{ form_widget(changePasswordForm.plainPassword) }}
            <a class="js-password-input__trigger password-input__trigger" href="javascript:void(0)">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye-off"></use>
                </svg>
            </a>
        </div>
        {{ form_help(changePasswordForm.plainPassword) }}
        <div class="input-error">
            {{ form_errors(changePasswordForm.plainPassword) }}
        </div>
    </div>

    <div class="form-block">
        {{ form_label(changePasswordForm.passwordConfirm) }}
        <div class="password-input">
            {{ form_widget(changePasswordForm.passwordConfirm) }}
            <a class="js-password-input__trigger password-input__trigger" href="javascript:void(0)">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye-off"></use>
                </svg>
            </a>
        </div>
        <div class="input-error">
            {{ form_errors(changePasswordForm.passwordConfirm) }}
        </div>
    </div>

    <div class="field-buttons">
        <div class="buttons-list">
            <a class="btn-h50-green-line" href="{{ path('app_profile') }}">
                <span>{{ 'profile.forms.change_password.cancel' | trans }}</span>
            </a>
            <button type="submit" class="btn-h50-green">
                <span>{{ 'profile.forms.change_password.submit' | trans }}</span>
            </button>
        </div>
        <div class="lost-password">
            <a class="link-underline" href="{{ path('app_forgot_password_request') }}">
                {{ 'profile.forms.change_password.forgot_password' | trans }}
            </a>
        </div>
    </div>

    {{ form_end(changePasswordForm) }}
</div>
