{% extends 'base.html.twig' %}

{% block title %}{{ 'profile.title'|trans }}{% endblock %}

{% block body %}
    <div class="section">
        <ul class="breadcrumbs">
            <li><a href="{{ path('home') }}">{{ 'home.home'|trans }}</a></li>
            <li>{{ 'profile.title'|trans }}</li>
        </ul>

        <h1 class="h1">
            <strong>{{ 'profile.title'|trans }}</strong>
        </h1>

        <div class="section__subtitle">Тест Тест</div>

        <div class="tabs-personal-area personal-area__wrapper">
            <div class="tabs__navigation-wrapper">
                <a class="tabs__link selected" href="{{ path('my_roles') }}">
                    <span>{{ 'profile.marketplace'|trans }}</span>
                </a>
            </div>

            {% include 'profile_marketplace/blocks/my-roles-block.html.twig' %}
        </div>
    </div>
{% endblock %}
