{% set randTool = random(pagesList) %}
{% set randToolName = randTool.alias %}
<div class="green-bg">
    <div class="section">
        <h2 class="h2 white">{{ 'menu.business_tools' | trans }}</h2>

        <div class="business-tools__block">
            {% if  asset('images/business-tools/' ~ randTool.imageName)| file_exists %}
                <img src="{{ asset('images/business-tools/' ~ randTool.imageName) }}" alt="{{ randTool.title }} }}">
            {% else %}
                <img src="{{ asset('upload/business-tools/' ~ randTool.imageName) }}" alt="{{ randTool.title }} }}">
            {% endif %}
            <div>
                <div class="h1 white">{{ randTool.title }}</div>
                <p class="white">{{ randTool.short }}</p>
                <a href="{% if randTool.alias != 'farm-box-platform' %} {{ path('custom_page', {'alias': randTool.alias}) }} {% endif %}{% if randTool.alias is same as 'farm-box-platform' %} {{ op['farm_box_platform']['value']|trim }} {% endif %}"
                   class="square-button height-50 white-bg-button">{{ 'home.read_more' | trans }}</a>
            </div>
        </div>
        <div class="catalog-item-container">
            {% for tool in pagesList %}
                {% if tool.alias != randToolName %}
                    <div class="catalog-item white">
                        <a href=" {% if tool.alias != 'farm-box-platform' %} {{ path('custom_page', {'alias': tool.alias}) }} {% endif %}{% if tool.alias is same as 'farm-box-platform' %} {{ op['farm_box_platform']['value']|trim }} {% endif %}">
                            {% if  asset('images/business-tools/' ~ tool.imageName)| file_exists  %}
                                <img src=" {{ asset('images/business-tools/' ~ tool.imageName) }}"
                                     alt="{{ tool.title }}"
                                     loading="lazy"
                                >
                            {% else %}
                                <img src=" {{ asset('upload/business-tools/' ~ tool.imageName) }}"
                                     alt="{{ tool.title }}"
                                     loading="lazy"
                                >
                            {% endif %}
                            <span>{{ tool.title }}</span>
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>




