<div class="js-shade shade"></div>
<div class="js-mobile-filter mobile-filter">
    <div class="mobile-filter__inner-wrapper js-mobile-item-filter">
        <a href="javascript:void(0)" class="js-mobile-filter__close mobile-filter__close">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
            </svg>
        </a>

        <div class="marketplace-mobile-filter">
            <a class="sidebar-button" href="{{ path('market_profile_about_me') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-account-edit_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.about_me'|trans }}</span>
            </a>

            <a class="sidebar-button" href="{{ path('market_profile_my_certificates') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-offer_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.my_certificates'|trans }}</span>
            </a>

            <a class="sidebar-button" href="{{ path('market_profile_my_commodities_product') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-product_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.my_commodities'|trans }}</span>
            </a>

            <a class="sidebar-button" href="{{ path('market_profile_my_commodities_service') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-room-service_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.my_services'|trans }}</span>
            </a>

            <a class="sidebar-button" href="{{ path('market_profile_my_commodities_kit') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-service-star_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.my_joint_proposals'|trans }}</span>
            </a>

            <a class="sidebar-button" href="{{ path('market_profile_favorites_products') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-heart-outline_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.selected'|trans }}</span>
                <small>{{ userFavoritesCount != 0 ? userFavoritesCount : '' }}</small>
            </a>

            <a class="sidebar-button active" href="{{ path('my_notifications') }}">
                <div class="ico-wrapper">
                    <svg class="ico">
                        <use xlink:href="/images/smat/ico-notification_24x24.svg#Layer_1"></use>
                    </svg>
                    <div class="ico-total">{{ unreadUserNotificationCount }}</div>
                </div>
                <span>{{ 'profile.notifications'|trans }}</span>
                <small>({{ allUserNotificationCount }})</small>
            </a>

            <div class="sidebar-tail-right__dropdown">
                <a class="sidebar-button dropdown {% if trashFlag is defined and trashFlag == false %} active {% endif %}" href="{{ path('my_notifications') }}">
                    <svg class="ico">
                        <use xlink:href="/images/smat/ico-mail-in_24x24.svg#Layer_1"></use>
                    </svg>
                    <span>Вхідні</span>
                    <small>({{ allUserNotificationCount }})</small>
                </a>

                <a class="sidebar-button dropdown {% if trashFlag is defined and trashFlag == true%} active {% endif %}" href="{{ path('my_notifications_trash') }}">
                    <svg class="ico">
                        <use xlink:href="/images/smat/ico-delete_24x24.svg#Layer_1"></use>
                    </svg>
                    <span>Кошик</span>
                    <small>({{ trashedUserNotificationCount }})</small>
                </a>
            </div>

            <a class="sidebar-button" href="{{ path('market_profile_roles') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-bookmarks_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.my_roles'|trans }}</span>
            </a>
        </div>
    </div>
</div>