{% extends 'layout/content.html.twig' %}

{% block title %}{{ 'search.result'|trans }}{% endblock %}

{% block body %}
    <div class="section">
        <h1 class="h1 marginBottom40px"><strong>{{ 'search.result'|trans }}</strong></h1>
        {% if searchString %}
            <h2 class="h3 centeredBlock marginBottom20px"><strong>"{{ searchString }}"</strong></h2>
        {% endif %}

        {% if items|length > 0 %}
            <div class="popular-topics">
                <ul class="popular-topics__items-wrap">
                    {% for item in items %}
                        {% set href = "" %}
                        {% if item.typeItem == constant('App\\Entity\\Item::COURSE') %}
                            {% set href = path('course_detail', {'slug': item.slug}) %}
                        {% elseif item.typeItem == constant('App\\Entity\\Item::WEBINAR') %}
                            {% set href = path('webinar_detail', {'slug': item.slug}) %}
                        {% elseif item.typeItem == constant('App\\Entity\\Item::OTHER') %}
                            {% set href = path('other_detail', {'slug': item.slug}) %}
                        {% elseif item.typeItem == constant('App\\Entity\\Item::OCCURRENCE') %}
                            {% set href = path('occurrence_detail', {'slug': item.slug}) %}
                        {% elseif item.typeItem == constant('App\\Entity\\Item::NEWS') %}
                            {% set href = path('news_detail', {'slug': item.slug}) %}
                        {% elseif item.typeItem == constant('App\\Entity\\Item::ARTICLE') %}
                            {% if item.typePage.code == 'article' %}
                                {% set href = path('article_detail', {'slug': item.slug}) %}
                            {% elseif item.typePage.code == 'success_stories' %}
                                {% set href = path('success_stories_detail', {'slug': item.slug}) %}
                            {% elseif item.typePage.code == 'eco_articles' %}
                                {% set href = path('eco_articles_detail', {'slug': item.slug}) %}
                            {% endif %}
                        {% endif %}
                        <li class="popular-topics__item">
                            <a class="popular-topics__link" href="{{ href }}">
                                <span class="popular-topics__date">
                                    {{ item.createdAt|date("Y m d") }}
                                </span>
                                <span class="popular-topics__text">
                                    {{ item.title }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(items) }}
            </div>
        {% else %}
            <div class="h3 centeredBlock">{{ 'not-found'|trans }}</div>
        {% endif %}
    </div>

    {% include 'blocks/business-tools-lite-block.html.twig' with {
        'pagesList' : pagesList
    } %}
    {% include 'blocks/catalog-block.html.twig' %}
    {% include 'blocks/knowledge-base-block.html.twig' with {'categories': categories} %}
    {% include 'blocks/top-tags-block.html.twig' with {'topTags': topTags} %}
{% endblock %}