<div class="js-mobile-filter mobile-filter">
    <div class="mobile-filter__inner-wrapper js-mobile-item-filter">
        <a href="javascript:void(0)" class="js-mobile-filter__close mobile-filter__close">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
            </svg>
        </a>

        <div class="marketplace-mobile-filter">
            <a class="sidebar-button" href="{{ path('my_commodities') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-product_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.my_commodities'|trans }}</span>
            </a>

            <a class="sidebar-button" href="{{ path('my_services') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-room-service_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.my_services'|trans }}</span>
            </a>

            <a class="sidebar-button" href="{{ path('my_proposals') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-service-star_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.my_joint_proposals'|trans }}</span>
            </a>

            <a class="sidebar-button" href="{{ path('my_selected_commodities') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-heart-outline_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.selected'|trans }}</span>
                <small>(1234)</small>
            </a>

            <a class="sidebar-button" href="{{ path('my_notifications') }}">
                <div class="ico-wrapper">
                    <svg class="ico">
                        <use xlink:href="/images/smat/ico-notification_24x24.svg#Layer_1"></use>
                    </svg>
                    <div class="ico-total">23</div>
                </div>
                <span>{{ 'profile.notifications'|trans }}</span>
                <small>(1234)</small>
            </a>

            <a class="sidebar-button active" href="{{ path('my_roles') }}">
                <svg class="ico">
                    <use xlink:href="/images/smat/ico-bookmarks_24x24.svg#Layer_1"></use>
                </svg>
                <span>{{ 'profile.my_roles'|trans }}</span>
            </a>
        </div>
    </div>
</div>