{% extends 'base.html.twig' %}

{% block title %}
    {% if seo is defined and seo is not null %}
        {{ seo.meta_title }}
    {% else %}
        {{ partner.name }}
    {% endif %}
{% endblock %}

{% block description %}
    {% if seo is defined and seo is not null %}
        {{ seo.meta_description }}
    {% endif %}
{% endblock %}

{% block keywords %}
    {% if seo is defined and seo is not null %}
        {{ seo.meta_keywords }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="section">
        <ul class="breadcrumbs">
            <li><a href="{{ path('home') }}">{{ 'home.home'|trans }}</a></li>
            <li><a href="{{ path('partners') }}">{{ 'home.partners'|trans }}</a></li>
            <li>{{ partner.name }}</li>
        </ul>

        <script type="application/ld+json">
            {
                "@context": "http://schema.org/",
                "@type": "BreadcrumbList",
                "itemListElement": [
                    {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "{{ 'home.home'|trans }}",
                        "item": "{{ url('home') }}"
                    },
                    {
                        "@type": "ListItem",
                        "position": 2,
                        "name": "{{ 'home.partners'|trans }}",
                        "item": "{{ url('partners') }}"
                    },
                    {
                        "@type": "ListItem",
                        "position": 3,
                        "name": "{{ partner.name }}",
                        "item": "{{ app.request.uri }}"
                    }
                ]
            }
        </script>

        <div class="partner-detail">
            <a class="return-button" href="{{ app.request.headers.get('referer') }}">
                <i class="fas fa-angle-left"></i>
            </a>
            <div class="partner-detail__inner-wrapper">
                <div class="partner-detail__image-wrapper">
                    <img class="partner-detail__image" src="{{ asset('upload/partner/' ~ partner.image) }}"
                         alt="{{ partner.name }}">
                    <div class="partner-detail__desktop-info">
                        <div class="partner-detail__info">
                            <div>{{ 'partners.address'|trans }}:</div>
                            <div>{{ partner.address }}</div>
                        </div>
                        <div class="partner-detail__info">
                            <div>E-mail:</div>
                            <div><a class="green-link" href="mailto:{{ partner.email }}">{{ partner.email }}</a>
                            </div>
                        </div>
                        <div class="partner-detail__info">
                            <div>{{ 'partners.phone'|trans }}:</div>
                            <div><a class="green-link" href="tel:{{ partner.phone }}">{{ partner.phone }}</a></div>
                        </div>
                        <div class="partner-detail__info">
                            <div>{{ 'partners.site'|trans }}:</div>
                            <div><a class="green-link" href="{{ partner.site }}">{{ partner.site }}</a></div>
                        </div>
                        <div class="partner-detail__info">
                            <div>{{ 'partners.social'|trans }}</div>
                            <div>
                                <div class="partner-detail__info-item">
                                    {% include 'blocks/social-links.html.twig' with {'item': partner } %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="partner-detail__content">
                    <div class="partner-detail__address-container">
                        {% if  partner.region is not null %}
                            <div class="partner-detail__region-badge">{{ partner.region.name }}</div>
                        {% else %}
                            <div class="partner-detail__region-badge">{{ 'partners.ukraine'|trans }}</div>
                        {% endif %}
                        <div class="partner-detail__address">{{ partner.address }}</div>
                    </div>
                    <h1 class="expert-detail__title">{{ partner.name }}</h1>
                    <div class="partner-detail__mobile-info">
                        <div class="partner-detail__info">
                            <div>{{ 'partners.address'|trans }}:</div>
                            <div>{{ partner.address }}</div>
                        </div>
                        <div class="partner-detail__info">
                            <div>E-mail:</div>
                            <div><a class="green-link" href="mailto:{{ partner.email }}">{{ partner.email }}</a>
                            </div>
                        </div>
                        <div class="partner-detail__info">
                            <div>{{ 'partners.phone'|trans }}:</div>
                            <div><a class="green-link" href="tel:{{ partner.phone }}">{{ partner.phone }}</a></div>
                        </div>
                        <div class="partner-detail__info">
                            <div>{{ 'partners.site'|trans }}:</div>
                            <div><a class="green-link" href="{{ partner.site }}">{{ partner.site }}</a></div>
                        </div>
                        <div class="partner-detail__info">
                            <div>{{ 'partners.social'|trans }}</div>
                            <div>
                                <div class="partner-detail__info-item">
                                    {% include 'blocks/social-links.html.twig' with {'item': partner } %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>{{ partner.content|raw }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="js-detail-partner" data-list-ajax-url="{{ listAjaxUrl }}">
        {% if tags is defined  and tags|length > 0%}
            <div class="section">
                <h2 class="h2">{{ 'home.studying'|trans }}</h2>

                <div class="desktop-tag marginBottom40px">
                    <div class="js-desktop-filter">
                        <div class="tag-item-container centered">
                            {% for tag in tags %}
                                <a class="tag-item {% if tag.id in appliedQueryParams.tags %}active{% endif %}"
                                   href="javascript:void(0)" data-tag-name="{{ tag.id }}">
                                    <i class="fas fa-check"></i>
                                    <span class="title">{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="filter-wrapper">
                    <a href="javascript:void(0)" class="js-mobile-filter__open filter__button">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#filter"></use>
                        </svg>
                        <span>{{ 'item.filters'|trans }}</span>
                    </a>
                </div>

                <div class="js-detail-partner-list-block">
                    {% include 'partners/block/studying-materials-block.html.twig' with {
                        'items': items,
                        'tags': tags,
                    } %}
                </div>
                <div class="js-shade shade"></div>
                <div class="js-mobile-filter mobile-filter">
                    <div class="mobile-filter__inner-wrapper js-mobile-item-filter partners">
                        <a href="javascript:void(0)" class="js-mobile-filter__close mobile-filter__close">
                            <svg>
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use>
                            </svg>
                        </a>

                        <div class="mobile-tag">
                            <div class="tag-item-container">
                                {% if tags is defined %}
                                    {% for tag in tags %}
                                        <a class="tag-item {% if tag.id in appliedQueryParams.tags %}active{% endif %}"
                                           href="javascript:void(0)" data-tag-name="{{ tag.id }}">
                                            <i class="fas fa-check"></i>
                                            <span class="title">{{ tag.name }}</span>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% if partner.bottomContent is defined and partner.bottomContent|length > 0 %}
        <div class="section">
            <h2 class="h2">{{ 'partners.resources'|trans }}</h2>
            <div class="content-wrapper-bottom">
                {{ partner.bottomContent|raw|fileparser }}
            </div>
        </div>
    {% endif %}
    {% include 'partners/block/more-partners-block.html.twig' with {
        'items': otherPartnerList,
    } %}
    {% include 'smat/blocks/about_contacts_feedback-block.html.twig' with {
        'form' : contactUsForm

    } only %}

{% endblock %}
