<div class="grey-bg">
    <div class="section">

        <div class="about-contacts-general">
            <h2 class="h2">{{ 'contacts.contact_us'|trans }}</h2>
            <div class="about-contacts-general__inner">

                <div class="about-contacts-general__email">
                    <div class="about-contacts-general__email-inner">
                        <div class="about-contacts-general__text">{{ 'contacts.call'|trans }}</div>
                        <div class="about-contacts-general__value">{{ op['phone']['value'] }}</div>
                    </div>
                </div>

                <div class="about-contacts-general__center">
                    <div class="about-contacts-general__center-phrase">{{ 'contacts.or'|trans }}</div>
                </div>

                <div class="about-contacts-general__phone">
                    <div class="about-contacts-general__phone-inner">
                        <div class="about-contacts-general__text">{{ 'contacts.write_to'|trans }}</div>
                        <div class="about-contacts-general__value">{{ op['email']['value'] }}</div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>