<div class="section">
    <ul class="breadcrumbs">
        <li><a href="{{ path('home') }}">{{ 'home.home'|trans }}</a></li>
        <li>{{ 'menu.about_us.contacts'|trans }}</li>
    </ul>

    <h1 class="h1 marginBottom40px"><strong>{{ 'menu.about_us.contacts'|trans | upper }}</strong></h1>

    <h4 class="about-h4 ta-center">
        <p class="fw-normal">{{ 'contacts.for_us'|trans }}</p>
    </h4>
</div>