<div class="section">
    <ul class="breadcrumbs">
        <li><a href="{{ path('home') }}">{{ 'home.home'|trans }}</a></li>
        <li><a href="{{ path('courses_and_webinars', {'type': 'webinar'}) }}">{{ 'menu.study.webinars'| trans }}</a></li>
        <li>{{ webinar.title }}</li>
    </ul>

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "BreadcrumbList",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "name": "{{ 'home.home'|trans }}",
                    "item": "{{ url('home') }}"
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "name": "{{ 'menu.study.webinars'|trans }}",
                    "item": "{{ url('courses_and_webinars', {'type': 'webinar'}) }}"
                },
                {
                    "@type": "ListItem",
                    "position": 3,
                    "name": "{{ webinar.title }}",
                    "item": "{{ app.request.uri }}"
                }
            ]
        }
    </script>

    <div class="detail-item-header">
        <div class="item-badge bordered webinar">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#webinar"></use>
            </svg>
            <span>{{ 'home.webinar'|trans }}</span>
        </div>
        {% if webinar.category is defined and webinar.category|length > 0 %}
            <a href="{{ path('category_detail', {'slug': webinar.category.slug}) }}"
               class="detail-item-header__title"><strong>{{ webinar.category }}</strong></a>
        {% endif %}
    </div>

    <h1 class="h1 detail-item-title marginBottom20px">
        <strong>{{ webinar.title }}</strong>
    </h1>

    <div class="detail-item">
        <div class="detail-item-block">
            {% set mainImage = webinar.imageName is empty
                ? asset('images/item-default.png')
                : asset('upload/webinar/' ~ webinar.imageName)
            %}
            <img class="detail-item-image" src="{{ mainImage }}" alt="{{ webinar.title }}">

            <div class="icon-text desktop">
                <i class="fas fa-check"></i>
                <span>
                    <strong class="green">{{ countRegisteredUser }}</strong>
                    {{ 'course.register_user'|trans }}
                </span>
            </div>
            {% if comments.exist %}
                <div class="icon-text desktop">
                    <i class="far fa-comment"></i>
                    <span>{{ 'admin.dashboard.comment.list_title'|trans~' ' }}{{ comments.totalCount }}</span>
                </div>
            {% endif %}
            {% if webinar.startDate %}
                <div class="icon-text desktop">
                    <i class="fas fa-calendar-alt"></i>
                    <span>{{ 'item.created_at'|trans }}:
                        <strong> {{ webinar.startDate|dateFormatAgro }}</strong></span>
                </div>
                <div class="icon-text desktop">
                    <i class="far fa-clock"></i>
                    <span>{{ 'item.time_created_at'|trans }}:
                        <strong> {{ webinar.startDate|date('H:i') }}</strong></span>
                </div>
            {% endif %}
        </div>
        <div class="detail-item-block">
            <div class="detail-item-info">
                <span>{{ 'item.partners' |trans }}:</span>
                {% if webinar.partners|length > 0 %}
                    <div class="category-container">
                        {% for partner in webinar.partners %}
                            <a href="{{ partner.name != 'UHBDP' ? path('partner-detail', {'slug': partner.slug}) : '#' }}"
                               class="category-item">{{ partner.name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="detail-item-info">
                <span>{{ 'item.experts'|trans }}:</span>
                {% if webinar.getExperts().count() != 0 %}
                    <div class="category-container">
                        {% set experts = webinar.getExperts() %}
                        {% for expert in experts %}
                            <a href="{{ path('expert-detail', {'slug': expert.slug}) }}"
                               class="category-item">{{ expert.name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="detail-item-text">
                {{ webinar.content|raw|fileparser }}
            </div>
            {% if user is not defined or
                (userHasRatedWebinar is defined  and registered == false or
                (registered == true and userHasRatedWebinar == true)) or
                (webinar.startDate is defined and webinar.startDate|date('Y-m-d H:i:s') > "now"|date('Y-m-d H:i:s')) %}
                <div class="detail-item-rating marginBottom20px">
                    <div class="js-rating-readonly rating" data-score="{{ rate }}"></div>
                    <strong>{{ rate }}</strong>
                </div>
            {% elseif userHasRatedWebinar == false and registered == true %}
                <div class="detail-item-rating marginBottom20px">
                    <div class="js-rating rating" data-score="{{ rate }}" data-half="y"
                         data-action="{{ path('webinar_detail',{'slug': webinar.slug}) }}"></div>
                    <strong>{{ rate }}</strong>
                </div>
            {% endif %}


            <div class="icon-text mobile">
                <i class="fas fa-check"></i>
                <span>
                    <strong class="green">{{countRegisteredUser }}</strong>
                    {{ 'course.register_user'|trans }}
                </span>
            </div>

            {% if comments.exist %}
                <div class="icon-text mobile">
                    <i class="far fa-comment"></i>
                    <span>{{ 'admin.dashboard.comment.list_title'|trans~' ' }}{{ comments.totalCount }}</span>
                </div>
            {% endif %}

            {% if webinar.startDate %}
                <div class="icon-text mobile">
                    <i class="fas fa-calendar-alt"></i>
                    <span>{{ 'item.created_at'|trans }}:
                        <strong> {{ webinar.startDate|dateFormatAgro }}</strong></span>
                </div>
                <div class="icon-text mobile">
                    <i class="far fa-clock"></i>
                    <span>{{ 'item.time_created_at'|trans }}:
                        <strong> {{ webinar.startDate|date('H:i') }}</strong></span>
                </div>
            {% endif %}

            {% if registered == false %}
                <a href="{{ path('webinar_register', {'slug': webinar.slug}) }}"
                   class="square-button orange-bg-button height-50 marginTop20px">
                    {{ 'form_registration.register'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
    {% if showSuccessRegistrationMessageBlock is defined and showSuccessRegistrationMessageBlock == true %}
        <div class="detail-item-text">
                <div class="green showSuccessMessage">
                    {{ 'item.webinar_registration_success_message_block'|trans }}
                </div>
        </div>
    {% elseif  showSuccessRegistrationMessageBlock is defined and showSuccessRegistrationMessageBlock is same as false %}
    <div class="detail-item-text">
        <div class="green showSuccessMessage">
            {{ 'item.past_webinar_registration_success_message_block'|trans }}
        </div>
    </div>
    {% endif %}

    <div class="tabs">
        <div class="tabs__navigation-wrapper">
            <div class="tabs__navigation">
                {% if registered == true and webinar.videoItem %}
                    <a class="tabs__link" href="#about">
                        <span>{{ 'course.about_webinar'|trans }}</span>
                    </a>
                {% endif %}
                <a class="tabs__link" href="#expert">
                    <span>{{ 'item.experts'|trans }}</span>
                </a>
                <a class="tabs__link" href="#review">
                    <span>{{ 'item.reviews'|trans }}</span>
                </a>
                <a class="tabs__link" href="#organizer">
                    <span>{{ 'item.partners' | trans }}</span>
                </a>
            </div>
        </div>
        <div class="tabs__content">
            {% if registered == true and webinar.videoItem %}
            {% include 'webinar/tabs/about.html.twig' with {'webinar': webinar} %}
            {% endif %}
            {% if webinar.experts|length > 0 %}
                {% include 'webinar/tabs/experts.html.twig' with {'experts': webinar.experts} %}
            {% endif %}
            {% if webinar.review|length > 0 %}
                {% include 'webinar/tabs/reviews.html.twig' with {'rewiews': webinar.review} %}
            {% endif %}
            {% if webinar.partners|length > 0 %}
                {% include 'webinar/tabs/partners.html.twig' with {'partners': webinar.partners} %}
            {% endif %}
            {% if review is defined and review is not empty %}
                {% include 'blocks/review-tab-block.html.twig' %}
            {% endif %}
        </div>
    </div>
    <div class="detail-item-text">
        {{ webinar.descriptionTwo|raw|fileparser }}
    </div>
    {% include 'blocks/like-material-block.html.twig' with {
        'userCanRate' : userCanRate,
    } %}

    {% if webinar.commentsAllowed %}
        <br>
        {% include 'comment/item-comments-list.html.twig' with {
            'item'      : webinar,
            'itemType'  : 'webinar',
            'user'      : user,
            'comments'  : {
                'form'          : comments.form,
                'exist'         : comments.exist,
                'pageSize'      : comments.pageSize,
                'totalCount'    : comments.totalCount,
            },
        } only %}
    {% endif %}
</div>

<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Article",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ app.request.uri }}"
        },
        "author": {
            "@type": "Person",
            "name": "{{ 'title'|trans }}",
            "url": "{{ url('home') }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ 'title'|trans }}",
            "url": "{{ url('home') }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ asset('images/logo-1.svg') }}"
            }
        },
        "headline": "{{ webinar.title }}",
        "image": "{{ mainImage }}",
        "datePublished": "{{ webinar.createdAt | date('Y-m-d') }}",
        "dateModified": "{{ webinar.updatedAt | date('Y-m-d') }}"
    }
</script>
