{% if wrapperTag is not defined %}
    {% set wrapperTag = 'li' %}
{% endif %}

<{{ wrapperTag }} class="glide__slide">
    <div class="item">
        <div class="item-image">
            <div class="item-badge article__badge">{{ 'home.news'|trans }}</div>
            <a href="{{ path('news_detail', {'slug': item.slug}) }}">
                <img src="{% if item.imageName is empty %}{{ asset('images/item-default.png') }}{% else %} {{ asset('upload/article/' ~ item.imageName) }} {% endif %}"
                     alt="">
            </a>
        </div>
        <div class="item-title">
            <a href="{{ path('news_detail', {'slug': item.slug}) }}" title="{{ item.title }}">{{ item.title }}</a>
        </div>
        {% if item.partners|length > 0 %}
            <div class="item-partner">
                <span>{{ 'home.partner'|trans }}:</span>
                {% for partner in item.partners %}
                    <a href="{{ partner.name != 'UHBDP' ? path('partner-detail', {'slug': partner.slug}) : '#' }}"
                    >{{ partner.name }}</a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="item-text">
            {{ item.short|striptags|u.truncate(100, '...')|raw }}
        </div>
        {% set month = item.createdAt|date('M') %}
        {% set day = item.createdAt|date('d') %}
        {% set year = item.createdAt|date('Y') %}
        <div class="icon-text desktop">
            <i class="far fa-calendar"></i>
            <span>{{ '%s %s %s'|format(day,month|trans, year) }}</span>
        </div>
        <div class="icon-text desktop">
            <i class="far fa-eye"></i>
            <span>{{ 'item.views'|trans }}{{ ' ' ~ item.ViewsAmount }}</span>
        </div>
    </div>
</{{ wrapperTag }}>
